# Core modules (mandatory)
jupyterlite-core==0.1.0
jupyterlab~=3.5.1

# JupyterLab: dark theme
jupyterlab-night
# JupyterLab: Miami nights theme (optional)
jupyterlab_miami_nights

# Python: mitosheet jupyter extension
mitosheet
